DATABASE_URL=psql 'postgresql://neondb_owner:npg_Wwj4xevgCb3K@ep-lingering-cell-a8y9d337-pooler.eastus2.azure.neon.tech/neondb?sslmode=require&channel_binding=require'
SECRET_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE3NTExMDAyNTksImV4cCI6MTc4MjYzNjI1OSwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoianJvY2tldEBleGFtcGxlLmNvbSIsIkdpdmVuTmFtZSI6IkpvaG5ueSIsIlN1cm5hbWUiOiJSb2NrZXQiLCJFbWFpbCI6Impyb2NrZXRAZXhhbXBsZS5jb20iLCJSb2xlIjpbIk1hbmFnZXIiLCJQcm9qZWN0IEFkbWluaXN0cmF0b3IiXX0.vxuF-cOriJjHq68QCnh9hzfsnmX55WUq86NZleCXJPI
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
